:host {
    display: block;
    overflow: hidden;
    text-align: center;
}

._image {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    max-height: calc(100% - 2rem);
    max-width: 100%;
}

._caption {
    height: 1.2rem;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    text-align: left;
    pointer-events: none;
}

._title {
    flex: 1;
}

._date {
    opacity: 0.6;
}
