:host {
}

._header {
    font-family: 'Bungee Hairline', sans-serif;
    line-height: 100%;
    margin: 20px;
    font-size: 7.0rem;
    font-weight: 500;
    -webkit-text-stroke: 1px;
    text-align: center;
}